body{
  margin: 0 0 0 0;
}

  /* スマホ(min:600px) ---------------------------------------------------------------------*/
  /* 固定ヘッダー */
    .title{
      margin-left: 5px;
      margin-right: 13%;
      margin-top: 30px;
      font-size: 20px;
    }

    .hl{
      list-style: none;
      float: left;
      margin-top: 20px;
      margin-right: 12px;
      font-size: 13px;
    }

    header{
      display: block;
      top: 0;
      left: 0;
      position: fixed;
      height: 70px;
      width: 100%;
      margin: 0 0 0 0;
    }

    .hcontainer{
      display: flex;
      width: 100%;
    }

    nav{
      float: right;
    }


    /* block3 */

    .wkimg{
      height: 300px;
      width: auto;
    }

    .wks{
      list-style: none;
      font-size: 20px;
    }

    .m{
      font-size: 17px;
    }
    
    
    .exp{
      font-size: 15px;
    }

    .p{
      text-align-last: left;
      width: 270px;
      margin: 0 0 0 0;
      margin-left: 45px;
    }


    /* tablet縦------------------------------------------------------------------------------ */
    @media (min-width:650px){
      /* 固定ヘッダー */
       .title{
         margin-left: 5%;
         margin-right: 20%;
         margin-top: 17px;
         font-size: 30px;
        }
    
        .hl{
          list-style: none;
          float: left;
          margin-top: 10px;
          margin-right: 20px;
          font-size: 20px;
        }
    
        header{
          display: block;
          top: 0;
          left: 0;
          position: fixed;
          height: 60px;
          width: 100%;
          margin: 0 0 0 0;
        }
    
        /* block3 */
        .wkimg{
          height: 500px;
          width: auto;
        }

        .wks{
          font-size: 25px;
        }

        .m{
          font-size: 22px;
        }
        
        
        .exp{
          font-size: 20px;
        }
    
        .p{
          text-align-last: left;
          width: 470px;
          margin: 0 0 0 0;
          margin-left: 90px;
        }

      }
    

  /* tablet,1/2PC -----------------------------------------------------------------------------*/
@media (min-width:783px){
  /* 固定ヘッダー */
   .title{
     margin-left: 5%;
     margin-right: 35%;
     margin-top: 16px;
     font-size: 30px;
    }

    .hl{
      list-style: none;
      float: left;
      margin-top: 10px;
      margin-right: 30px;
    }

    header{
      display: block;
      top: 0;
      left: 0;
      position: fixed;
      height: 60px;
      width: 100%;
      margin: 0 0 0 0;
    }

    /* block3 */

    .wkimg{
      height: 600px;
      width: auto;
    }

    .wks{
      font-size: 28px;
    }

    .b3h1{
      font-size: 45px;
    }

    .m{
      font-size: 25px;
    }
    
    
    .exp{
      font-size: 23px;
    }

    .p{
      text-align-last: left;
      width: 570px;
      margin: 0 0 0 0;
      margin-left: 20%;
    }

  }

  @media (min-width:1050px){
    .p{
      text-align-last: left;
      width: 570px;
      margin: 0 0 0 0;
      margin-left: 25%;
    }
  }

  /* PC --------------------------------------------------------------------------------------------------*/
@media (min-width:1200px) {
  /* 固定ヘッダー */
    .title{
      margin-left: 5%;
      margin-right: 48%;
      margin-top: 22px;
      font-size: 40px;
    }

     .hl{
      list-style: none;
      float: left;
      margin-top: 21px;
      margin-right: 40px;
      font-size: 25px;
     }

      header{
       display: block;
       top: 0;
       left: 0;
       position: fixed;
       height: 80px;
       width: 100%;
       margin: 0 0 0 0;
       
      }


      /* block3 */

      .b3h1{
        font-size: 50px;
      }

      .wkimg{
        height: 800px;
        width: auto;
      }

      .wks{
        font-size: 30px;
      }

      .m{
        font-size: 27px;
      }
      
      
      .exp{
        font-size: 25px;
      }

      .p{
        text-align-last: left;
        width: 770px;
        margin: 0 0 0 0;
        margin-left: 23%;
      }

}

@media (min-width:1600px){
  .p{
    text-align-last: left;
    width: 770px;
    margin: 0 0 0 0;
    margin-left: 30%;
  }
}



/* ↓ここから@media未処理↓---------------------------------------------------------- */

  /* 背景 */
body{
  background  : linear-gradient(to right, #d8d8d8, #ffffff, #d8d8d8);
}

header{
  background  : linear-gradient(to bottom, #95caff, rgba(13, 134, 255, 0.95));
}

  /* フォント */
html{
  font-family: "Meiryo";
}

.hl{
  font-family: Helvetica;
}

.title{
  font-family: Helvetica;
}

.b1t{
  font-family: "Mv Boli";
}

.b2h1{
  font-family: cursive;
}

.b2h2{
  font-family: cursive;
}

.b3h1{
  font-family: cursive;
}

footer{
  font-family: "Comic Sans MS";
  color: white;
}

/* リンク */
a{
  text-decoration: none;
  color: black;
}


  /* block3 */

.block3{
  margin: 0 0 0 0;
}

.b3h1{
  margin-top: 110px;
  margin-bottom: 40px;
  text-align: center;
}

.b3ul{
  padding: 0 0 0 0;
  width: 100%;
}


.wkimg{
  border: 2px solid rgb(84, 139, 172);
  margin-top: 15px;
  margin-bottom: 10px;
}

.wks{
  text-align: center;
}

.language{
  border        : 3px dashed #59b300;
  border-radius : 7px;
  background  : linear-gradient(to bottom, #ccff99, #7fff00, #ccff99);
  margin-right: 5px;
}



/* footer */
footer{
  text-align: center;
  margin-top: 50px;
  width: 100%;
}


footer{
  height: 30px;
  background-color: black;
  bottom: 0;
}

.ftr{
  margin-bottom: 0;
  padding-top: 3px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
